<!DOCTYPE html>
<html>
<head>
  <title>News Reader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <h4 class="pull-left">Welcome, <%= current_user.username %></h4>
    <div class="pull-right">
      <%= button_to "Log Out", session_url, method: :delete %>
    </div>
  <% else %>
    <div class="pull-right"><%= link_to "Sign In", new_session_url %></div>
    <div class="pull-left"><%= link_to "Sign Up", new_user_url %></div>
  <% end %>

  <br>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end %>
  <% end %>

  <br>

  <%= yield %>

</body>
</html>
