<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = cat.persisted? ? "Update Cat!" : "Create Cat!" %>

<% if !cat.errors.full_messages.empty? %>
  <ul>
    <% cat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<form action="<%=action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">

  <label for "cat_name">Name</label>
  <input type="text"
         value="<%=cat.name%>"
         name="cat[name]"
         id="cat_name">
  <br>

  <label for "cat_coat_color">Coat color</label>
  <select name="cat[color]"
          id="cat_coat_color">
    <% Cat::CAT_COLORS.each do |color| %>
      <option value = "<%= color %>">
        <%= "selected" if cat.color == color %>
        <%= color %>
      </option>
    <% end %>
  </select>
  <br>


  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F" <%= "checked='checked'" if cat.sex == 'F' %> >
  <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M" <%= "checked='checked'" if cat.sex == 'M' %> >
  <label for="cat_sex_male">Male</label><br>

  <label for="bday">Birthday</label>
  <input type="date" value="<%=cat.birth_date%>" name="cat[birth_date]" id = "bday">
  <br>

  <textarea cols="40" rows="5" name="cat[description]" value = "<%=cat.description%>"></textarea><br>

  <input type="submit" value="<%= submit_text %>">

</form>
