<h1> Log in Here! </h1>

<%= render "shared/errors" %>
<%= render "shared/form_getuser", mode: 1 %>
<!-- <form action= "<%= session_url %>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value = "<%= form_authenticity_token %>">

    <p>
      <label>Email:
      <input type="text" name = "user[email]">
    </label>
    </p>
    <p>
    <label>Password:
      <input type="password" name = "user[password]">
    </label>
    </p>
    <input type="submit" value = "Log In!">
<br>
    <%= link_to "Don't have an account? Sign up here!", new_user_url %> -->
